@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@model IEnumerable<alumnus.Models.Resources.Resources>
@{
    ViewData["Title"] = "Enlaces y Archivos de interés para alumnos";
}

<div class="row">
    <div class="col-md-12">
        <h2>@ViewData["Title"].</h2>
    </div>
</div>

<div class="row" style="margin-bottom:25px">
    <div class="col-md-6">
        @if (SignInManager.IsSignedIn(User))
        {
            <a class="btn btn-primary" asp-controller="Resources" asp-action="New">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                Agregar Registro
            </a>
        }
    </div>
    <div class="col-md-3 col-md-offset-3">
        <div class="input-group">
            <input type="text" class="form-control" aria-label="...">
            <div class="input-group-btn">
                <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Enlaces de Interés</h3>
            </div>
            <div class="panel-body">
                <div class="list-group">
                    @{ var listOfLinks = Model.Where(i => i.Type == alumnus.Models.Resources.TypeEnum.Link); }
                    @if( listOfLinks.Count() == 0 ) { <span>No hay resultados</span> }
                    @foreach(var item in listOfLinks)
                    {
                        <div class="list-group-item">
                            <h4 class="list-group-item-heading">
                                @item.Title
                                <a href="@item.Url" target="_blank" >
                                    <span class="glyphicon glyphicon-link"></span>
                                </a>
                            </h4>
                            <p class="list-group-item-text">@item.Description</p>
                            @if (SignInManager.IsSignedIn(User))
                            {
                                <p class="list-group-item-text">
                                    <a asp-area="" asp-controller="Resources" asp-action="Edit" asp-route-id="@item.Id">
                                        <span class="glyphicon glyphicon-pencil"></span> Editar
                                    </a>
                                </p>
                            }
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Archivos</h3>
            </div>
            <div class="panel-body">
                <div class="list-group">
                    @{ var listOfDocuments = Model.Where(i => i.Type == alumnus.Models.Resources.TypeEnum.Document); }
                    @if( listOfDocuments.Count() == 0 ) { <span>No hay resultados</span> }
                    @foreach(var item in listOfDocuments)
                    {
                        <div class="list-group-item">
                            <h4 class="list-group-item-heading">
                                @item.Title
                                <a href="@item.Url" target="_blank" >
                                    <span class="glyphicon glyphicon-link"></span>
                                </a>
                            </h4>
                            <p class="list-group-item-text">@item.Description</p>
                            @if (SignInManager.IsSignedIn(User))
                            {
                                <p class="list-group-item-text">
                                    <a asp-area="" asp-controller="Resources" asp-action="Edit" asp-route-id="@item.Id">
                                        <span class="glyphicon glyphicon-pencil"></span> Editar
                                    </a>
                                </p>
                            }
                        </div>   
                    }
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title">Noticias de Interés</h3>
            </div>
            <div class="panel-body">
                <div class="list-group">
                    @{ var listOfNews = Model.Where(i => i.Type == alumnus.Models.Resources.TypeEnum.News); }
                    @if( listOfNews.Count() == 0 ) { <span>No hay resultados</span> }
                    @foreach(var item in listOfNews)
                    {
                        <div class="list-group-item">
                            <h4 class="list-group-item-heading">
                                @item.Title
                                <a href="@item.Url" target="_blank" >
                                    <span class="glyphicon glyphicon-link"></span>
                                </a>
                            </h4>
                            <p class="list-group-item-text">@item.Description</p>
                            @if (SignInManager.IsSignedIn(User))
                            {
                                <p class="list-group-item-text">
                                    <a asp-area="" asp-controller="Resources" asp-action="Edit" asp-route-id="@item.Id">
                                        <span class="glyphicon glyphicon-pencil"></span> Editar
                                    </a>
                                </p>
                            }
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Otros</h3>
            </div>
            <div class="panel-body">
                <div class="list-group">
                    @{ var listOfEntries = Model.Where(i => i.Type == alumnus.Models.Resources.TypeEnum.Entry); }
                    @if( listOfEntries.Count() == 0 ) { <span>No hay resultados</span> }
                    @foreach(var item in listOfEntries)
                    {
                        <div class="list-group-item">
                            <h4 class="list-group-item-heading">
                                @item.Title
                                <a href="@item.Url" target="_blank" >
                                    <span class="glyphicon glyphicon-link"></span>
                                </a>
                            </h4>
                            <p class="list-group-item-text">@item.Description</p>
                            @if (SignInManager.IsSignedIn(User))
                            {
                                <p class="list-group-item-text">
                                    <a asp-area="" asp-controller="Resources" asp-action="Edit" asp-route-id="@item.Id">
                                        <span class="glyphicon glyphicon-pencil"></span> Editar
                                    </a>
                                </p>
                            }
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>