@model IEnumerable<alumnus.Models.Oportunities.Oportunities>
@{
    ViewData["Title"] = "Trabajos, EPS y Práctica Supervisada";
}

<div class="row">
    <div class="col-md-12">
        <h2>@ViewData["Title"].</h2>
    </div>
</div>

<div class="row" style="margin-bottom:25px">
    <div class="col-md-6">
        <a class="btn btn-primary" asp-controller="Oportunities" asp-action="New">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
            Agregar Registro
        </a>
    </div>
    <div class="col-md-3">
        <div class="input-group">
            <select asp-items="Html.GetEnumSelectList<alumnus.Models.Oportunities.TypeEnum>()" class="form-control">
                <option selected="selected" value="">Tipo de busqueda</option>
            </select>
        </div>
    </div>
    <div class="col-md-3">
        <div class="input-group">
            <input type="text" class="form-control" aria-label="...">
            <div class="input-group-btn">
                <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <table id="oportunities-table" class="table table-striped">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Título</th>
                    <th>Descripción</th>
                    <th>Fecha de finalización</th>
                </tr>
            </thead>
            <tbody>
                @{ int i = 1; }
                @foreach(var item in Model)
                {
                    <tr>
                        <td>@i</td>
                        <td>@item.Title</td>
                        <td>@item.Description</td>
                        <td>@item.EndDate</td>
                    </tr>
                    i++;
                }
            </tbody>
        </table>
    </div>
</div>