@model IEnumerable<alumnus.Models.Contacts.Contacts>
@{
    ViewData["Title"] = "Listado de Egresados";
}

<div class="row">
    <div class="col-md-12">
        <h2>@ViewData["Title"].</h2>
    </div>
</div>

<div class="row" style="margin-bottom:25px">
    <div class="col-md-6">
        <a class="btn btn-primary" asp-controller="Contacts" asp-action="New">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
            Agregar Registro
        </a>
    </div>
    <div class="col-md-3 col-md-offset-3">
        <div class="input-group">
            <input type="text" class="form-control" aria-label="...">
            <div class="input-group-btn">
                <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Nombres</th>
                    <th>Apellidos</th>
                    <th>Correo electrónico</th>
                    <th>Fecha de nacimiento</th>
                    <th>Dirección</th>
                    <th>Fecha de graduación</th>
                    <th>Trabajo actual</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @{ var i = 1; }
                @foreach(var item in Model)
                {
                    <tr>
                        <td>@i</td>
                        <td>@item.FirstName</td>
                        <td>@item.LastName</td>
                        <td>@item.Email</td>
                        <td>@Html.DisplayFor(Model => item.BirthDay)</td>
                        <td>@item.Address</td>
                        <td>@Html.DisplayFor(Model => item.GraduationDate)</td>
                        <td>@item.CurrentPosition - @item.CurrentJob</td>
                        <td>
                            <a asp-area="" asp-controller="Contacts" asp-action="Edit" asp-route-id="@item.Id">
                                <span class="glyphicon glyphicon-pencil"></span>
                            </a>
                        </td>
                    </tr>
                    i++;
                }
            </tbody>
        </table>
    </div>
</div>