@model IEnumerable<alumnus.Models.Contacts.Contacts>
@{
    ViewData["Title"] = "Listado de Egresados";
}

<div class="row">
    <div class="col-md-12">
        <h2>@ViewData["Title"].</h2>
    </div>
</div>

<div class="row" style="margin-bottom:25px">
    <div class="col-md-6">
        <a class="btn btn-primary" asp-controller="Contacts" asp-action="New">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
            Agregar Registro
        </a>
        <a class="btn btn-primary" asp-controller="Contacts" asp-action="Invite">
            <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
            Enviar Invitaciones
        </a>
    </div>
    <div class="col-md-3 col-md-offset-3">
        <div class="input-group">
            <input type="text" class="form-control" id="input-search" aria-label="...">
            <div class="input-group-btn">
                <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <table id="contacts-table" class="table table-striped">
            <thead>
                <tr>
                    <th>#</th>
                    <th>No. Colegiado</th>
                    <th>Nombres</th>
                    <th>Correo electrónico</th>
                    <th>Fecha de nacimiento</th>
                    <th>Dirección</th>
                    <th>Fecha de graduación</th>
                    <th>Trabajo actual</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @{ var i = 1; }
                @foreach(var item in Model)
                {
                    <tr data-collegiate="@item.Collegiate"
                        data-name="@item.FirstName @item.LastName"
                        data-email="@item.Email"
                        data-current-job="@item.CurrentPosition @item.CurrentJob">
                        <td>@i</td>
                        <td>@item.Collegiate</td>
                        <td>@item.FirstName @item.LastName</td>
                        <td>@item.Email</td>
                        <td>@Html.DisplayFor(Model => item.BirthDay)</td>
                        <td>@item.Address</td>
                        <td>@Html.DisplayFor(Model => item.GraduationDate)</td>
                        <td>@item.CurrentPosition - @item.CurrentJob</td>
                        <td>
                            <a asp-area="" title="Enviar Recordatorio" asp-controller="Contacts" asp-action="Reminder" asp-route-id="@item.Id">
                                <span class="glyphicon glyphicon-comment"></span>
                            </a>
                            <a asp-area="" title="Editar" asp-controller="Contacts" asp-action="Edit" asp-route-id="@item.Id">
                                <span class="glyphicon glyphicon-pencil"></span>
                            </a>
                        </td>
                    </tr>
                    i++;
                }
            </tbody>
        </table>
    </div>
</div>

@section Scripts {
    <script src="~/js/contacts-table-component.js" asp-append-version="true"></script>
    <script type="text/javascript">
        (function(){
            var form = ContactsTableComponent();
            form.init();
        })();
    </script>
}